Analysis/testing/
Analysis/Experimental/testFcn4Batch.m
test/test_runImagesClassification/exp_outFiles/AcqInfos.mat
test/test_runImagesClassification/exp_outFiles/fluo.dat
test/test_runImagesClassification/exp_outFiles/fluo_info.mat
test/test_runImagesClassification/exp_outFiles/green.dat
test/test_runImagesClassification/exp_outFiles/green_info.mat
test/test_runImagesClassification/exp_outFiles/red.dat
test/test_runImagesClassification/exp_outFiles/red_info.mat
test/test_runImagesClassification/exp_outFiles/yellow.dat
test/test_runImagesClassification/exp_outFiles/yellow_info.mat
test/test_runImagesClassification/outputFolder/AcqInfos.mat
test/test_runImagesClassification/outputFolder/fluo.dat
test/test_runImagesClassification/outputFolder/fluo_info.mat
test/test_runImagesClassification/outputFolder/green.dat
test/test_runImagesClassification/outputFolder/green_info.mat
test/test_runImagesClassification/outputFolder/red.dat
test/test_runImagesClassification/outputFolder/red_info.mat
test/test_runImagesClassification/outputFolder/yellow.dat
test/test_runImagesClassification/outputFolder/yellow_info.mat
test/test_runImagesClassification/rawData/AcqInfos.mat
test/test_runImagesClassification/rawData/ai_00000.bin
test/test_runImagesClassification/rawData/ai_00001.bin
test/test_runImagesClassification/rawData/ImagesLUT_1.mat
test/test_runImagesClassification/rawData/img_00000.bin
test/test_runImagesClassification/rawData/img_00001.bin
test/test_runImagesClassification/rawData/img_00002.bin
test/test_runImagesClassification/rawData/img_00003.bin
test/test_runImagesClassification/rawData/img_00004.bin
test/test_runImagesClassification/rawData/img_00005.bin
test/test_runImagesClassification/rawData/info.txt
test/test_runImagesClassification/rawData/StimParameters.mat
test/test_run_HemoCorrection/exp_outFiles/hemoCorr_fluo.dat
test/test_run_HemoCorrection/exp_outFiles/hemoCorr_fluo_info.mat
myAllenAreas.mat
docs/helpsearch-v3/_0.cfe
docs/helpsearch-v3/_0.cfs
docs/helpsearch-v3/_0.si
docs/documentation/userDocs/userdocs_template.html
test/
classes/Protocol_classes/Protocol_BACKUP_1599.m
classes/Protocol_classes/Protocol.asv
subFunc/mergeRecordings.asv
docs/_site/404.html
docs/_site/demos.xml
docs/_site/favicon.ico
docs/_site/feed.xml
docs/_site/helptoc.xml
docs/_site/index.html
docs/_site/about/index.html
docs/_site/assets/css/just-the-docs-dark.css
docs/_site/assets/css/just-the-docs-default.css
docs/_site/assets/css/just-the-docs-light.css
docs/_site/assets/js/just-the-docs.js
docs/_site/assets/js/search-data.json
docs/_site/assets/js/vendor/lunr.min.js
docs/_site/documentation/collapsible_behaviour.js
docs/_site/documentation/main_index.html
docs/_site/documentation/rec_sys_requirements.html
docs/_site/documentation/assets/icon-minus.png
docs/_site/documentation/assets/icon-plus.png
docs/_site/documentation/assets/logo.png
docs/_site/documentation/assets/gifs/advanced_search_example.ogg
docs/_site/documentation/assets/gifs/align_tt_cpselection.ogg
docs/_site/documentation/assets/gifs/avg_acq_how_to_avg_acg.ogg
docs/_site/documentation/assets/gifs/change_list_reordering_obs.ogg
docs/_site/documentation/assets/gifs/change_list_resetting_events.ogg
docs/_site/documentation/assets/gifs/change_list_save_and_load_list.ogg
docs/_site/documentation/assets/gifs/change_list_subsetting_events.ogg
docs/_site/documentation/assets/gifs/custom_def_opts_example1.gif
docs/_site/documentation/assets/gifs/Data_selector_customize_color.ogg
docs/_site/documentation/assets/gifs/Data_selector_example.ogg
docs/_site/documentation/assets/gifs/dataGroupingTool_group_creation_example1.ogg
docs/_site/documentation/assets/gifs/dataviewer_imagFig_clicking.ogg
docs/_site/documentation/assets/gifs/dataviewer_timeFig_clicking.ogg
docs/_site/documentation/assets/gifs/manual_image_registration_cpselection.ogg
docs/_site/documentation/assets/gifs/manual_image_registration_validation.ogg
docs/_site/documentation/assets/gifs/multi-plot_tool_interactions.ogg
docs/_site/documentation/assets/gifs/pipeline_config_tool_create_new_pipeline.ogg
docs/_site/documentation/assets/gifs/pipeline_config_tool_save_and_load_pipe.ogg
docs/_site/documentation/assets/gifs/PlotAvgMaps_example1.ogg
docs/_site/documentation/assets/gifs/PlotAvgMaps_example2.ogg
docs/_site/documentation/assets/gifs/PlotLongData_datatip_usage_example.ogg
docs/_site/documentation/assets/gifs/roimanager_align_image_to_origin.ogg
docs/_site/documentation/assets/gifs/roimanager_apply_Allen_rois.ogg
docs/_site/documentation/assets/gifs/roimanager_changeROI_name.ogg
docs/_site/documentation/assets/gifs/roimanager_constrainedPolyEdit.ogg
docs/_site/documentation/assets/gifs/roimanager_create_new_poly_roi.ogg
docs/_site/documentation/assets/gifs/roimanager_create_new_pt_roi_interactive.ogg
docs/_site/documentation/assets/gifs/roimanager_create_new_pt_roi_XYcoords.ogg
docs/_site/documentation/assets/gifs/roimanager_createPtroi_interactively.ogg
docs/_site/documentation/assets/gifs/roimanager_createPtroi_XYcoords.ogg
docs/_site/documentation/assets/gifs/roimanager_dealing_with_invalid_rois.ogg
docs/_site/documentation/assets/gifs/roimanager_draw_logical_mask.ogg
docs/_site/documentation/assets/gifs/roimanager_draw_new_origin.ogg
docs/_site/documentation/assets/gifs/roimanager_drawPolygon.ogg
docs/_site/documentation/assets/gifs/roimanager_fittingMouseAreas.ogg
docs/_site/documentation/assets/gifs/roimanager_import_origin.ogg
docs/_site/documentation/assets/gifs/roimanager_import_roi_from_ws.ogg
docs/_site/documentation/assets/gifs/roimanager_roimask_creator_interactive_thr_set.ogg
docs/_site/documentation/assets/gifs/roimanager_roiMath_intersect.ogg
docs/_site/documentation/assets/gifs/roimanager_roiMath_merge.ogg
docs/_site/documentation/assets/gifs/roimanager_roiMath_split.ogg
docs/_site/documentation/assets/gifs/roimanager_roiMath_subtract.ogg
docs/_site/documentation/assets/gifs/roimanager_roiMath_xor.ogg
docs/_site/documentation/assets/gifs/roimanager_unconstrainedPolyEdit.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_example_data_split_by_evnt.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_playback.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_select_frame.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_select_px.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_set_clims_and_colormap_in_imagOpts.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_set_clims_by_zoom.ogg
docs/_site/documentation/assets/gifs/tt_dataviewer_spcm_overview.ogg
docs/_site/documentation/assets/gifs/tt_viz_obs_subsetting_and_rearrangement.ogg
docs/_site/documentation/assets/gifs/umIToolbox-Analysis-example_data_selection.ogg
docs/_site/documentation/assets/img/advanced_search_fig1.png
docs/_site/documentation/assets/img/align_tt_alignFrame_output_fig.png
docs/_site/documentation/assets/img/align_tt_autoalign_summary_fig.png
docs/_site/documentation/assets/img/align_tt_click_and_drag_pt.png
docs/_site/documentation/assets/img/align_tt_dataimport_ppline.png
docs/_site/documentation/assets/img/align_tt_draw_logicmsk.png
docs/_site/documentation/assets/img/align_tt_final_logicmsk.png
docs/_site/documentation/assets/img/align_tt_geomtransf.png
docs/_site/documentation/assets/img/align_tt_manualalign_alignfinished.png
docs/_site/documentation/assets/img/align_tt_manualalign_confalignment.png
docs/_site/documentation/assets/img/align_tt_manualalign_data_selection.png
docs/_site/documentation/assets/img/align_tt_manualalign_outfig.png
docs/_site/documentation/assets/img/align_tt_manualalign_saveas.png
docs/_site/documentation/assets/img/align_tt_pipelineBuilder_select_inputFile.png
docs/_site/documentation/assets/img/align_tt_pipelineBuilder_select_inputObj.png
docs/_site/documentation/assets/img/align_tt_px_size_set.png
docs/_site/documentation/assets/img/align_tt_refFrame_dataselect.png
docs/_site/documentation/assets/img/align_tt_refFrameFile_saved.png
docs/_site/documentation/assets/img/align_tt_refpt_selected.png
docs/_site/documentation/assets/img/align_tt_result_refpt_alignment.png
docs/_site/documentation/assets/img/align_tt_roimanager_fig1.png
docs/_site/documentation/assets/img/align_tt_select_alignFcn.png
docs/_site/documentation/assets/img/align_tt_select_objtype.png
docs/_site/documentation/assets/img/align_tt_selectdata.png
docs/_site/documentation/assets/img/align_tt_set_px_size.png
docs/_site/documentation/assets/img/apply_detrend_eq1.png
docs/_site/documentation/assets/img/apply_detrend_eq2.png
docs/_site/documentation/assets/img/apply_detrend_fig1.png
docs/_site/documentation/assets/img/apply_detrend_fig2.png
docs/_site/documentation/assets/img/avg_acquisitions_fig1.png
docs/_site/documentation/assets/img/batch-processing_explanation_fig1.png
docs/_site/documentation/assets/img/batch-processing_explanation_fig2.png
docs/_site/documentation/assets/img/batch-processing_explanation_fig3.png
docs/_site/documentation/assets/img/calculateDR_R_byEvent_eq1.png
docs/_site/documentation/assets/img/calculateDR_R_byEvent_eq2.png
docs/_site/documentation/assets/img/calculateResponseFeatures_fig1.png
docs/_site/documentation/assets/img/change_lists_fig1.png
docs/_site/documentation/assets/img/correlation_matrix_plot_tool_fig1.png
docs/_site/documentation/assets/img/data_selector_fig1.png
docs/_site/documentation/assets/img/data-grouping_tool_fig1.png
docs/_site/documentation/assets/img/dataGroupingTool_fig1.png
docs/_site/documentation/assets/img/dataviewer_confirm_pipeline.png
docs/_site/documentation/assets/img/dataviewer_confirm_raw_import.png
docs/_site/documentation/assets/img/dataviewer_events_window.png
docs/_site/documentation/assets/img/dataviewer_fig1.png
docs/_site/documentation/assets/img/dataviewer_fluo_file_example.png
docs/_site/documentation/assets/img/dataviewer_gui__w_fluo_data.png
docs/_site/documentation/assets/img/dataviewer_importFromLabeoSystem.png
docs/_site/documentation/assets/img/dataviewer_maingui.png
docs/_site/documentation/assets/img/dataviewer_pipeline_selectfcns.png
docs/_site/documentation/assets/img/dataviewer_resp_amp_ex.png
docs/_site/documentation/assets/img/dataviewer_select_fluo_file.png
docs/_site/documentation/assets/img/dataviewer_select_raw_data.png
docs/_site/documentation/assets/img/dataviewer_select_savefolder.png
docs/_site/documentation/assets/img/dataviewer_set_import_opts.png
docs/_site/documentation/assets/img/dual-cam-coregistration_tool_fig1.png
docs/_site/documentation/assets/img/dual-cam-coregistration_tool_fig2.png
docs/_site/documentation/assets/img/dual-cam-coregistration_tool_fig3.png
docs/_site/documentation/assets/img/dual-cam-coregistration_tool_fig4.png
docs/_site/documentation/assets/img/events-manager_tool_edgeType.png
docs/_site/documentation/assets/img/events-manager_tool_fig1.png
docs/_site/documentation/assets/img/events-manager_tool_multiCol_csv.png
docs/_site/documentation/assets/img/export2csv_exampleFig.png
docs/_site/documentation/assets/img/genRetinotopyMaps_eq1.png
docs/_site/documentation/assets/img/genRetinotopyMaps_eq2.png
docs/_site/documentation/assets/img/genRetinotopyMaps_eq3.png
docs/_site/documentation/assets/img/GSR_eq1.png
docs/_site/documentation/assets/img/GSR_eq2.png
docs/_site/documentation/assets/img/GSR_eq3.png
docs/_site/documentation/assets/img/icon_plusBW.png
docs/_site/documentation/assets/img/icon_rightTriangle_BW.png
docs/_site/documentation/assets/img/index_fig1.png
docs/_site/documentation/assets/img/index_online_fig1.png
docs/_site/documentation/assets/img/line-box_tool_box-plot.png
docs/_site/documentation/assets/img/line-box_tool_fig1.png
docs/_site/documentation/assets/img/mainFolderOrganization.png
docs/_site/documentation/assets/img/mainGUI_analysis_fig1.png
docs/_site/documentation/assets/img/mainGUI_analysis_multimeasures.png
docs/_site/documentation/assets/img/mainGUI_dashboard_deleteItem.png
docs/_site/documentation/assets/img/mainGUI_dashboard_fig1.png
docs/_site/documentation/assets/img/mainGUI_dashboard_fileSelect.png
docs/_site/documentation/assets/img/mainGUI_dashboard_newAcqAdded.png
docs/_site/documentation/assets/img/mainGUI_dashboard_newAcqDetected.png
docs/_site/documentation/assets/img/mainGUI_dashboard_newAcqShown.png
docs/_site/documentation/assets/img/mainGUI_dashboard_objDelete.png
docs/_site/documentation/assets/img/mainGUI_dashboard_objEdit1.png
docs/_site/documentation/assets/img/mainGUI_dashboard_objEdit2.png
docs/_site/documentation/assets/img/mainGUI_dashboard_objProps.png
docs/_site/documentation/assets/img/mainGUI_dashboard_objSelect.png
docs/_site/documentation/assets/img/mainGUI_dashboard_OpenProject.png
docs/_site/documentation/assets/img/mainGUI_dashboard_uitree.png
docs/_site/documentation/assets/img/mainGUI_firstMessage.png
docs/_site/documentation/assets/img/mainGUI_mainComp.png
docs/_site/documentation/assets/img/mainGUI_newProject.png
docs/_site/documentation/assets/img/mainGUI_pipeline_clickonrun.png
docs/_site/documentation/assets/img/mainGUI_pipeline_clickonsave.png
docs/_site/documentation/assets/img/mainGUI_pipeline_doneselection.png
docs/_site/documentation/assets/img/mainGUI_pipeline_fig1.png
docs/_site/documentation/assets/img/mainGUI_pipeline_firstpage.png
docs/_site/documentation/assets/img/mainGUI_pipeline_pipeisready.png
docs/_site/documentation/assets/img/mainGUI_pipeline_pipelinesavemsg.png
docs/_site/documentation/assets/img/mainGUI_pipeline_pipename.png
docs/_site/documentation/assets/img/mainGUI_pipeline_progressbar.png
docs/_site/documentation/assets/img/mainGUI_pipeline_recordingselection.png
docs/_site/documentation/assets/img/mainGUI_pipeline_selectclass.png
docs/_site/documentation/assets/img/mainGUI_pipeline_selectfcns.png
docs/_site/documentation/assets/img/mainGUI_pipeline_selectfirstinput.png
docs/_site/documentation/assets/img/mainGUI_pipeline_setopts.png
docs/_site/documentation/assets/img/mainGUI_pipeline_setoptsSPCM.png
docs/_site/documentation/assets/img/mainGUI_pipeline_status.png
docs/_site/documentation/assets/img/mainGUI_pipeline_summarytab.png
docs/_site/documentation/assets/img/mainGUI_ProjFileOpen.png
docs/_site/documentation/assets/img/mainGUI_ProtFileSaved.png
docs/_site/documentation/assets/img/mainGUI_readyToUse.png
docs/_site/documentation/assets/img/mainGUI_selectProjFile.png
docs/_site/documentation/assets/img/mainGUI_selectProtFcn.png
docs/_site/documentation/assets/img/mainGUI_selectRawDir.png
docs/_site/documentation/assets/img/mainGUI_selectSaveDir.png
docs/_site/documentation/assets/img/mainGUI_typeProjectName.png
docs/_site/documentation/assets/img/mainGUI_viz_fig1.png
docs/_site/documentation/assets/img/manual_image_registration_tool_confirm_registration.png
docs/_site/documentation/assets/img/manual_image_registration_tool_fig1.png
docs/_site/documentation/assets/img/manual_image_registration_tool_output_filename.png
docs/_site/documentation/assets/img/manual_image_registration_tool_type_imaging_reference_frame_filename.png
docs/_site/documentation/assets/img/mat-files-organization_fig1.png
docs/_site/documentation/assets/img/MergeRec_fig1.png
docs/_site/documentation/assets/img/MergeRec_fig2.png
docs/_site/documentation/assets/img/MergeRec_fig3.png
docs/_site/documentation/assets/img/MergeRec_fig4.png
docs/_site/documentation/assets/img/MergeRec_fig5.png
docs/_site/documentation/assets/img/MergeRec_fig6.png
docs/_site/documentation/assets/img/MergeRec_fig6b.png
docs/_site/documentation/assets/img/MergeRec_fig7.png
docs/_site/documentation/assets/img/multi-plot_interface.png
docs/_site/documentation/assets/img/multi-plot_tool_select_file.png
docs/_site/documentation/assets/img/multi-plot_tool_select_file_error_icon.png
docs/_site/documentation/assets/img/myIcon_forceAddPipe.png
docs/_site/documentation/assets/img/pipeline_config_app_evnt_trig_maps.png
docs/_site/documentation/assets/img/pipeline_config_app_save_intermediate_file.png
docs/_site/documentation/assets/img/pipeline_config_app_set_opts_params_ex1.png
docs/_site/documentation/assets/img/pipelineConfigGUI_fig1.png
docs/_site/documentation/assets/img/PlotAvgMaps_ex1_fig1.png
docs/_site/documentation/assets/img/PlotAvgMaps_ex2_fig1.png
docs/_site/documentation/assets/img/PlotAvgMaps_fig1.png
docs/_site/documentation/assets/img/plotCorrMatrix_interface.png
docs/_site/documentation/assets/img/PlotLongData_summary_figs_example.png
docs/_site/documentation/assets/img/PlotLongData_time_vector_lines_example.png
docs/_site/documentation/assets/img/PlotLongData_time_vector_shade_example.png
docs/_site/documentation/assets/img/recFolderNameParsing.png
docs/_site/documentation/assets/img/roimanager_area-options.png
docs/_site/documentation/assets/img/roimanager_area-selection-fig.png
docs/_site/documentation/assets/img/roimanager_area-shrink-example.png
docs/_site/documentation/assets/img/roimanager_centroid-options.png
docs/_site/documentation/assets/img/ROImanager_mainComp.png
docs/_site/documentation/assets/img/roimanager_mouse-areas.png
docs/_site/documentation/assets/img/roimanager_overlayMode_contour.png
docs/_site/documentation/assets/img/roimanager_overlayMode_highlight.png
docs/_site/documentation/assets/img/roimanager_overlayMode_normal.png
docs/_site/documentation/assets/img/roimanager_roimask_creator_overview.png
docs/_site/documentation/assets/img/roimanager_roimask_creator_overview_annot.png
docs/_site/documentation/assets/img/roimanager_roimask_creator_resultROI.png
docs/_site/documentation/assets/img/roimanager_roimask_creator_roi_preview.png
docs/_site/documentation/assets/img/roimanager_roitable.png
docs/_site/documentation/assets/img/roimanager_set_colormap.png
docs/_site/documentation/assets/img/roimanager_set_pixel_size.PNG
docs/_site/documentation/assets/img/roimanager_thresholdapp_data_overview.png
docs/_site/documentation/assets/img/roimanager_thresholdapp_data_overview2.png
docs/_site/documentation/assets/img/run_SpeckleMapping_eg1.png
docs/_site/documentation/assets/img/save2mat_examplePlot.png
docs/_site/documentation/assets/img/saveFolderOrganization.png
docs/_site/documentation/assets/img/spatialGaussFilt_sigma_example.png
docs/_site/documentation/assets/img/SPCM_fig1.png
docs/_site/documentation/assets/img/speckle_Eq.png
docs/_site/documentation/assets/img/stats_explanation_FDR_matrix_example.png
docs/_site/documentation/assets/img/tableView_exampleFig.png
docs/_site/documentation/assets/img/temporal_filter_eq1.png
docs/_site/documentation/assets/img/temporal_filter_eq2.png
docs/_site/documentation/assets/img/tt_align_recordings_workflow.png
docs/_site/documentation/assets/img/tt_creating_connectivity_maps_ppline_workflow.png
docs/_site/documentation/assets/img/tt_creating_evnt_triggered_avg_maps_ppline_workflow.png
docs/_site/documentation/assets/img/tt_creating_groups_fig1.png
docs/_site/documentation/assets/img/tt_creating_groups_fig2.png
docs/_site/documentation/assets/img/tt_dataviewer_app_overview.png
docs/_site/documentation/assets/img/tt_dataviewer_data_import_fig1.png
docs/_site/documentation/assets/img/tt_dataviewer_data_import_fig2.png
docs/_site/documentation/assets/img/tt_dataviewer_data_processing_SPCM.png
docs/_site/documentation/assets/img/tt_dataviewer_datatip_icon.png
docs/_site/documentation/assets/img/tt_dataviewer_datatips_example.png
docs/_site/documentation/assets/img/tt_dataviewer_open_data_from_mainGUI.png
docs/_site/documentation/assets/img/tt_dataviewer_open_data_from_standalone.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_concept_fig.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_corr-mat_plotExample.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_dataviewer_choose_aggFcn.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_dataviewer_genCorrMat_opts_gui.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_dataviewer_SFTF_with_rois.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_dataviewer_tempFilt_with_rois.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_fcn_sel_input_file.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_fcn_sel_input_file2.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_fcn_sel_input_obj.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_fcn_setOpts.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_genCorrMat_opts_params.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_line-box_plotterExample.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_mainGUI_data_selection.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_mainGUI_fcn_selection.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_mainGUI_ppln_result.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_mainGUI_ppln_result_RS.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_output_data_renaming.png
docs/_site/documentation/assets/img/tt_extracting_data_from_rois_RS_preprocess_workflow.png
docs/_site/documentation/assets/img/tt_viz_data_event_trig_data_processing_workflow.png
docs/_site/documentation/assets/img/tt_viz_data_file_selection_in_main_gui.png
docs/_site/documentation/assets/img/tt_viz_data_file_selection_in_main_gui2.png
docs/_site/documentation/assets/img/tt_viz_data_grouped_data_in_main_gui.png
docs/_site/documentation/assets/img/tt_viz_data_grouped_data_in_main_gui2.png
docs/_site/documentation/assets/img/tt_viz_data_line_box_plot_interface.png
docs/_site/documentation/assets/img/tt_viz_data_obs_selection_btn_pressed.png
docs/_site/documentation/assets/img/tt_viz_data_obs_selection_in_main_gui.png
docs/_site/documentation/assets/img/tt_viz_data_selection_btn_pressed2.png
docs/_site/documentation/assets/img/tt_viz_spcm_data_processing_workflow.png
docs/_site/documentation/assets/img/umIT_4axis.png
docs/_site/documentation/assets/img/umIT_concept_org_img_exp.png
docs/_site/documentation/assets/img/umit_doclink.png
docs/_site/documentation/assets/img/zScoreNormalize_eq1.png
docs/_site/documentation/assets/img/zScoreNormalize_eq2.png
docs/_site/documentation/assets/img/zScoreNormalize_eq3.png
docs/_site/documentation/assets/img/zScoreNormalize_inline_var.png
docs/_site/documentation/tutorials/gs_index.html
docs/_site/documentation/tutorials/tt_align_sessions.html
docs/_site/documentation/tutorials/tt_creating_a_new_project.html
docs/_site/documentation/tutorials/tt_creating_connectivity_maps.html
docs/_site/documentation/tutorials/tt_creating_event_triggered_avg_maps.html
docs/_site/documentation/tutorials/tt_creating_groups.html
docs/_site/documentation/tutorials/tt_creating_rois.html
docs/_site/documentation/tutorials/tt_DataViewer.html
docs/_site/documentation/tutorials/tt_dataviewer_basic_data_exploration.html
docs/_site/documentation/tutorials/tt_dataviewer_data_import.html
docs/_site/documentation/tutorials/tt_dataviewer_data_processing.html
docs/_site/documentation/tutorials/tt_dataviewer_visualize_the_data.html
docs/_site/documentation/tutorials/tt_exp_data_mngmnt.html
docs/_site/documentation/tutorials/tt_extracting_data_from_rois.html
docs/_site/documentation/tutorials/tt_umit_setup.html
docs/_site/documentation/tutorials/tt_umIToolbox_app.html
docs/_site/documentation/tutorials/tt_umIToolbox_app_data_exploration.html
docs/_site/documentation/tutorials/tt_umIToolbox_app_data_processing.html
docs/_site/documentation/tutorials/tt_umIToolbox_app_group_data_and_visualize.html
docs/_site/documentation/tutorials/tt_umIToolbox_app_start_a_project.html
docs/_site/documentation/tutorials/tt_viz_group_data.html
docs/_site/documentation/userDocs/apps.html
docs/_site/documentation/userDocs/fcns.html
docs/_site/documentation/userDocs/other.html
docs/_site/documentation/userDocs/tools.html
docs/_site/documentation/userDocs/user_doc_index.html
docs/_site/documentation/userDocs/apps/DataViewer.html
docs/_site/documentation/userDocs/apps/ROImanager.html
docs/_site/documentation/userDocs/apps/umIToolbox.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis-AvgAcqs.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis-ChangeLists.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis-Export2CSV.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis-Save2Mat.html
docs/_site/documentation/userDocs/apps/umIToolbox-Analysis-TableView.html
docs/_site/documentation/userDocs/apps/umIToolbox-Dashboard.html
docs/_site/documentation/userDocs/apps/umIToolbox-Pipeline.html
docs/_site/documentation/userDocs/apps/umIToolbox-Viz.html
docs/_site/documentation/userDocs/fcns/alignFrames.html
docs/_site/documentation/userDocs/fcns/analysis_index.html
docs/_site/documentation/userDocs/fcns/apply_aggregate_function.html
docs/_site/documentation/userDocs/fcns/apply_detrend.html
docs/_site/documentation/userDocs/fcns/calculate_response_amplitude.html
docs/_site/documentation/userDocs/fcns/calculateResponseFeatures.html
docs/_site/documentation/userDocs/fcns/dataImport_index.html
docs/_site/documentation/userDocs/fcns/filters_index.html
docs/_site/documentation/userDocs/fcns/genCorrelationMatrix.html
docs/_site/documentation/userDocs/fcns/genRetinotopyMaps.html
docs/_site/documentation/userDocs/fcns/genVSM.html
docs/_site/documentation/userDocs/fcns/getDataFromROI.html
docs/_site/documentation/userDocs/fcns/getEvents.html
docs/_site/documentation/userDocs/fcns/GSR.html
docs/_site/documentation/userDocs/fcns/imaging_index.html
docs/_site/documentation/userDocs/fcns/importFromTif.html
docs/_site/documentation/userDocs/fcns/normalizeBSLN.html
docs/_site/documentation/userDocs/fcns/normalizeLPF.html
docs/_site/documentation/userDocs/fcns/normalizeZScore.html
docs/_site/documentation/userDocs/fcns/run_Ana_Speckle.html
docs/_site/documentation/userDocs/fcns/run_ConvertToTiff.html
docs/_site/documentation/userDocs/fcns/run_HemoCompute.html
docs/_site/documentation/userDocs/fcns/run_HemoCorrection.html
docs/_site/documentation/userDocs/fcns/run_ImagesClassification.html
docs/_site/documentation/userDocs/fcns/run_SpeckleMapping.html
docs/_site/documentation/userDocs/fcns/spatialGaussFilt.html
docs/_site/documentation/userDocs/fcns/SPCM.html
docs/_site/documentation/userDocs/fcns/split_data_by_event.html
docs/_site/documentation/userDocs/fcns/transformDat2Mat.html
docs/_site/documentation/userDocs/fcns/trim_movie.html
docs/_site/documentation/userDocs/other/batch-processing_explanation.html
docs/_site/documentation/userDocs/other/how-to-create-custom-functions.html
docs/_site/documentation/userDocs/other/mat-files-organization.html
docs/_site/documentation/userDocs/other/stats_explanation.html
docs/_site/documentation/userDocs/tools/correlation_matrix_plot_tool.html
docs/_site/documentation/userDocs/tools/data-grouping_tool.html
docs/_site/documentation/userDocs/tools/data-selector_tool.html
docs/_site/documentation/userDocs/tools/dual-cam-coregistration_tool.html
docs/_site/documentation/userDocs/tools/events-manager_tool.html
docs/_site/documentation/userDocs/tools/lineBox-plot_tool.html
docs/_site/documentation/userDocs/tools/manual_image_registration_tool.html
docs/_site/documentation/userDocs/tools/MergeRecs.html
docs/_site/documentation/userDocs/tools/multi-plot_tool.html
docs/_site/documentation/userDocs/tools/pipeline_configuration_tool.html
docs/_site/documentation/userDocs/tools/PlotAvgMaps_tool.html
docs/_site/helpsearch-v3/segments.gen
docs/_site/helpsearch-v3/segments_2
docs/_site/html/funcTemplate.html
docs/_site/html/protocolFcn_template.html
