.subtitle1 {
  font-size: 1.5em;
  color: #C45400;
}
.subtitle2 {
  font-size: 1.2em;
  color: #C45400;
}
.infonote {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  padding-left: 6px;
}
.warnnote {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
  padding-left: 6px;
}
.tipnote {
  background-color: #f6f6c9;
  border-left: 6px solid #fbfb30;
  padding-left: 6px;
}
.codeinput {
  width: 100%;
  padding: 0;
  border: 1px solid #ccc;
  background: #f6f6f6;
  display: table;
}
.stringformat{
  color: #A020F0
}
.title-desc{
  font-size: 0.85em;
  color: #444444;
  padding-left: 50px;
}
.iconplus{
  padding-right: 30px;
  background: url("../documentation/assets/icon-plus.png") no-repeat 0px center;
}
.iconminus{
  padding-right: 30px;
  background: url("../documentation/assets/icon-minus.png") no-repeat 0px center;
}
pre, code, samp{
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
pre {
  text-align: left;
  white-space: pre-line;
  padding: 10px;
  border-left: 0;
  margin-left: 0;
  margin: 0;
  background: transparent;
  line-height: 1.42;
  word-break: normal;
  word-wrap: normal;
  display: block;
}
body{
  margin-left:40px;
  margin-right:40px;
}
.add_font_monospace{
  font-family: monospace;
}
.black-box {
  color: white;
  background-color: black;
  padding-left: 20px;
  margin: 0px;
}
.code-block{
  display: block;
  white-space: pre-wrap;
  margin: 0px;
}